.cart-item
  display: flex
  margin-bottom: 32px
  padding-bottom: 32px
  border-bottom: thin solid #ccc
  flex-wrap: wrap

  &:last-child
    margin-bottom: 0
    padding-bottom: 0
    border-bottom: none

  .col
    width: 20%
    text-align: center

    &:first-child
      width: 40%
      text-align: left

  .qty
    width: 30px
    display: inline-block
    margin-top: 8px
    padding: 0px 12px
    text-align: right

  .name
    margin-bottom: 2px
    font-weight: bold

  .item-total
    margin-top: 8px

  .remove-btn
    width: 85px
    margin-right: 16px

  .update-btn
    width: 85px