@import './vars'

#nav
  margin-top: 16px

.link-grp
  float: left

  .link
    display: inline-block
    margin-right: 36px
    padding: 16px 0
  
    &:hover,
    &:active
      border-bottom: thick solid #ccc

    &.active
      border-bottom: thick solid $color