.item
  width: 30%
  margin-bottom: 52px
  padding: 12px
  border: thin solid #ccc

  &:nth-of-type(3n-1)
    margin: 0 52px

.btn-grp
  margin-top: 12px
  padding-top: 16px
  border-top: thin solid #ccc

  .btn
    width: 60px
    margin-right: 12px
    padding: 2px 8px
    display: inline-block

.name
  font-weight: bold

.stock
  float: left

.price
  float: right
  color: green