.item
  width: 27%
  margin-bottom: 52px
  padding: 16px
  border: thin solid #ccc

  &:nth-of-type(3n-1)
    margin: 0 50px 52px

.row
  margin-bottom: 8px

.add-to-cart
  width: 105px
  margin-top: 8px

.name
  font-weight: bold

  a:hover
    text-decoration: underline

.qty
  width: 47px
  text-align: right

  &::-webkit-inner-spin-button
    opacity: 1