@import './vars'
  
.container
  display: flex
  min-height: calc(100vh - 150px)
  margin-bottom: 32px

.left-panel
  width: 20%

  .panel-title
    margin: 0 0 42px

  .cat-list .cat
    display: block
    margin-bottom: 32px
    padding-left: 24px
    border-left: thick solid #fff

    &:hover
      border-left: thick solid #ccc

    &.active
      border-left: thick solid $color
      font-weight: bold
  
  .new-cat
    margin-left: 24px
    margin-right: 42px
    margin-bottom: 32px

    button[type="submit"]
      margin-left: 8px

.right-panel
  width: 80%
  padding-left: 42px
  border-left: thin solid #ccc

  .panel-title
    margin: 0 16px 42px 0
    float: left

  .new-product
    float: right

  .product-list
    display: flex
    flex-wrap: wrap
