@import './vars'

html, body
  margin: 0
  line-height: 1.6em
  font-family: $font-family
  color: $font-color

a
  color: $font-color
  text-decoration: none
  outline: none

.clearfix:after
  content: ''
  display: block
  clear: both

.container
  width: 90%
  position: relative
  margin: 0 auto
